html{
    font-size: 15px; 
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #2B2A2C;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/*.intro{
    width: 200px;
    height: 200px;
    background-color: #ccc;
}*/

.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 1.2rem 0;
}

.user {
    display: flex;
}

.user__avatar {
    width: 57px;
    height: 57px;

}

img {
    /*border-radius: 50%;*/
    width: 57px;
    height: 57px;
}

.user__content {
    padding-left: 9px;
}

.user__name {
    margin-bottom: 3px;
    font-size: 1.06rem;
    line-height: 1.2;
    color: black;
    font-weight: 700;
}

.user__prof {
    font-size: 0.8rem;
    color: rgba(#2B2A2C, .7);
}

.nav {
    display: flex;
    height: 100%;
}

.nav__link {
    padding: 0.66rem 2rem;
    font-size: 0.93rem;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border: 1.2px solid transparent;
    border-radius: 20px;
}


.nav__link:hover,
.active { 
    border-color: black;
} 
.nav__link1 {
    background-color: black;
    padding: 0.66rem 2rem;
    font-size: 0.93rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0.66rem 2rem;
    border: 2px solid black;
    border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*.intro {
}*/
.intro__inner {
    background: url(../Desktop/img/symbols.png) right bottom no-repeat;
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;
    border-bottom: 1px solid gray;
    position: relative;
}
.intro__content {
    width: 50%;
}
.intro__subtitle {
    font-size: 2.13rem;
    color: black;
    font-weight: 200;
}
.intro__title {
    margin-bottom: 5px;
    font-size: 3rem;
    color: black;
    font-weight: 700;
}
.intro__text {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: #464646;
}
.intro__photo {
    width: 471px;
    height: 496px;
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 1;
}
.social {
    display: flex;
    margin-bottom: 42px;
}
.social__link {
    margin-right: 10px;
    text-decoration: none;
}
.social__link:hover {
   transform: translateY(-5px);
 }


/*:hover,
.active {
   transform: rotateY(-5px);
 }*/
 
 .btn {
     display: inline-block;
     vertical-align: top;
     font-size: 1.06rem;
     color: black;
     text-transform: uppercase;
     text-decoration: none;
     border: 1px solid gray;
     border-radius: 1.8em;
     background: none;
     font-family: inherit;
     line-height: 1.1;
     padding: 1.05em 1.7em;
     cursor: pointer;
     min-width: 170px;
     text-align: center;
 }
 .btn:focus {
     outline: none;
 }
 .btn:hover {
     background-color: black;
     color: white;
     border-color: black;
 }
 .btn + .btn {
     margin-left: 1rem;
 }
.btn--sm {
    padding: .7em 1.2em;
    border-radius: 23px;
    font-size: 0.85rem;
    font-weight: 700;
    border-width: 2px;
}
 .works {
     margin: 2.8rem 0;
 }

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.works__nav-link {
    margin: 0 1.2rem;
    font-size: .8rem;
    color: #464646;
    text-decoration: none;
}
.works__nav-link:hover {
    text-decoration: underline;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem;
}
.portfolio__col {
    flex-basis: 33.33333%;
    padding: 1rem;

}
.work__image{
    display: block;
    width: 370px;
    height: 300px;
    max-width: 100%;
    height: auto;

}
.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 4px;
    box-shadow:  #C6C8CA;
}
.work__content {
    padding: 1rem 0.8rem;
}
.work__cat {
    margin-bottom: .5rem;
    font-size: .8rem;
    color: black;
    text-transform: uppercase;
}
.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.work:hover {
    box-shadow: 0 0 25px;
    box-shadow:  #C6C8CA;
}

.text-center {
    text-align: center;
}

.about {
    margin: 8.4rem 0;
}
.about__inner {
    display: flex;
    max-width: 1090px;
}
.about__photo,
.about__content {
    width: 50%;
}
.about__content {
    padding-left: 3.2rem;
}
.about__title {
    font-size: 3rem;
    color: black;
    font-weight: 700;
}
.about__bigtitle {
    margin-bottom: 1.4rem;
    font-size: 6.1rem;
    position: relative;
    left: -10px;
    line-height: 1.1;
    color: #C0C0C0;
    font-weight: 700;
}
.about__text {
    margin-bottom: 2.8rem;
    font-size: .8rem;
    line-height: 2;
    color: #464646;
    font-weight: 300;
}
.img {
    width: 471px;
    height: 496px;
    /*position: absolute;*/
    bottom: -1px;
    right: 0;
    z-index: 1;
    /*display: block;
    max-width: 100%;
    height: auto;*/
}
/*rgebebrbh*/
.about__photo img{
    position: relative;
    z-index: 2;
}
.about__photo::before {
    content: "";
    width: 413px;
    height: 413px;
    background-color: #EFEFEF;
    position: absolute;
    left: 1rem;
    bottom: 0;
    z-index: 1;
}
.about__photo {
    position: relative;
}

.reviews {
    position: relative;
    padding: 4.6rem 0;
    background: #332F30 url(../Desktop/img/reviews-bg.png) center no-repeat;

}
.reviews__text {
    font-size: .94rem;
    color: white;
    line-height: 2.2;
    text-align: center;

}
.reviews__item {
    width: 100%;
    min-width: 830px;
    margin: 0 auto;
}
.reviews__photo {
    display: block;
    margin: 0 auto 0.6rem;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    border: 4px solid #EFEFEF;
}
.reviews__author {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    margin-top: -51px;
}
p {
    margin: 0 0 1rem;
}
.reviews__name {
    margin-bottom: .3rem;
    font-size: 1.06rem;
    color: black;
    font-weight: 700;
}
.reviews__company {
    margin-bottom: .4rem;
    font-size: .94rem;
    color: gray;
    font-style: italic;
    font-weight: 300;
}
.reviews__star {
    width: 16px;
    height: 16px;
}
.reviews__star1 {
    width: 16px;
    height: 16px;
    opacity: .4;
}

.news {
    margin-top: 14rem;
    margin-bottom: 8rem;

}
.news__header {
    margin-bottom: 3.3rem;
    text-align: center;
}
.news__title {
    margin-bottom: 0.2rem;
    font-size: 3rem;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.news__text {
    font-size: 1.2rem;
    color: gray;
    font-weight: 300;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.articles__col {
    width: 33.33333%;
    padding: 0 1rem;
}
.articles__header {
    position: relative;
    margin-bottom: 1.35rem;
}
.articles__date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85px;
    height: 85px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    font-size: 1.06rem;
}
.articles__photo {
    display: block;
    width: 370px;
    height: 300px;
    max-width: 100%;
    height: auto;
}
.articles__title {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    font-weight: 700;   
}
.articles__title a {
    color: inherit;
    text-decoration: none;
}
.articles__title:hover {
    text-decoration: underline;
}
.articles__cat {
    margin-bottom: 1.5rem;
    font-size: .8rem;
    color: black;
    text-transform: uppercase;
}
.articles__text {
    font-size: .8rem;
    color: gray;
    font-weight: 300;
    line-height: 2;
}
.articles__item {
    margin-bottom: 2rem;
}
.articles__content {
    margin-bottom: 2rem;
}
.news__footer {
    text-align: right;
}
.news__link {
    font-size: .94rem;
    color: gray;
}
.news__link:hover {
    text-decoration: none;
}